<div style="margin-left: 10rem; margin-right: 10rem">
  <mat-grid-list
    cols="4"
    rowHeight="16rem"
    gutterSize="24px"
    class="note-card-container"
  >
    <mat-grid-tile
      *ngFor="let note of notes; let i = index"
      style="margin-bottom: 2em; border-radius: 4px"
      colspan="1"
      rowspan="1"
      id="tile{{i}}"
      class="shady"
      
    >
      <cdk-drop-list [cdkDropListConnectedTo]="dropList" [cdkDropListData]="i">
        <mat-card
          class="dashboard-card"
          cdkDrag
          (cdkDragEntered)="entered($event)"
          (cdkDragStarted)="dragStarted($event, i)"
          (cdkDragEnded)="dragEnded($event, i)"
          [cdkDragData]="i"
          
        >
          <mat-card-header>
            <mat-card-title>{{ note.title }}</mat-card-title>
            <mat-icon cdkDragHandle class="more-button">drag_handle</mat-icon>
          </mat-card-header>
          <mat-card-content (click)="openNote(note.id)">
            {{ note.content.intro }}
            <div *ngIf="note.content.steps" ></div>
          </mat-card-content>
        </mat-card>
      </cdk-drop-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
